<div class="cotainer-fluid bg-image" style="
    background-image: url('https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg');
    height: 100%;background-size:cover; background-repeat:   no-repeat;
    background-position: center center;

  ">
    <nav class="navbar navbar-dark bg-dark py-3">
        <div class="container-fluid">
            <!-- <h1 class="navbar-brand">Weather Forecasting</h1> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <h5 class="text-light primary py-3" style="text-align: left;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    Hello,<strong
                        style="font-family:'Times New Roman', Times, serif;font-size: xx-large;">{{username}}</strong>
                </h5>
                <ul class="navbar-nav px-3">
                    <li class="nav-item pt-2">
                    <a class="nav-link active" aria-current="page" href="#" routerLink="/about">About</a>
                    </li>
                    <li class="nav-item pt-2">
                        <button class="nav-link active align-middle bg-dark border-0" routerLink="/weather-dashboard">
                            Weather Information</button>
                    </li>
                    <li class="nav-item pt-2">
                        <button class="nav-link active align-middle bg-dark border-0" (click)="logout()">
                            Logout</button>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- <div class="container" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;">
        <h2>Welcome To WeatherForecasting site</h2>
        
     </div>    -->
     <div class="container">
        <div class="row">
            <span class="text1">Hello!</span>
            <span class="text2">Welcome To WeatherForecasting Website</span>
        </div>
        </div>
        